.image {
    width: 400px;
    height: 300px;
    cursor: pointer;
}

.name {
    color: rgb(177, 177, 177);
}

.info {
    display: flex;
    margin-bottom: 5px;
}

.time {
    margin-left: 10px;
    color: rgb(136, 136, 136);
}

.heart {
    width: 35px;
    padding: 0;
    color: red;
    background-color: red;
    cursor: pointer;
}

.like {
    color: rgb(175, 175, 175);
}

.post {
    margin-left: 25%;
    padding-bottom: 50px;
}