.wrap {
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #bbbbbb 0%, #c4c4c4e5 100%);
    background: linear-gradient(to right, #4d595f, #4d595f);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.active {
    color: rgb(233, 233, 233);
}

a {
    font-size: 15px;
    color: rgb(177, 177, 177);
    text-decoration: none;
}