.textInput {
    margin-left: 25%;
    display: grid;
    grid-template-columns: 100px;
}

.add {
    margin-top: 10px;
}

.Myposts {
    background-color: rgb(232, 237, 255);
}

.area {
    width: 450px;
    height: 200px;
    resize: none;
}