.wrap {
    background-color: rgb(47, 55, 54);
    height: 570px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.txt {
    color: white;
}

.scrolling {
    height: 200px;
    overflow: auto;
}

.textInput {
    margin-left: 25%;
    display: grid;
    grid-template-columns: 200px;
    padding-top: 20px;
}

.add {
    margin-top: 10px;
    background-color: rgb(68, 68, 68);
    border: 0;
    color: rgb(138, 138, 138);
}

.text {
    color: rgb(169, 169, 169);
}

.area {
    width: 450px;
    height: 200px;
    resize: none;
    background-color: rgb(34, 40, 44);
    color: white;
    border: 0;
}